grpcio==1.71.0
grpcio-tools==1.71.0
soundfile==0.13.1
numpy==2.2.4
tritonclient==2.56.0
packaging==24.2

# TODO: reduce non-necessary packages installed with this one
llama-index-core==0.12.28

# Audio transcoding
ffmpeg-python==0.2.0
opuslib==3.0.1

